<div class="card text-center">
  <div class="">
    <img src="../../../assets/odontos-logo.png" class="card-img-top" alt="Logo Odontos" style="max-width: 200px; max-height: 70px;" />
  </div>
  <div class="card-body">
    <h5 class="card-title">¡GRACIAS POR COMPLENTAR LA ENCUESTA ODONTOS!</h5>
    <!-- <p class="card-text">Le damos la Bienvenida a Odontos, desde ya agradecemos pueda respondernos la siguiente encuesta para confirmar sus datos y conocimiento del plan.</p> -->
  </div>
  <div class="card-footer text-danger">
    Odontos - 2024
  </div>
</div>
