<div class="card text-center">
  <div class="">
    <!-- <img src="../../../assets/odontos-logo.png" class="card-img-top" alt="Logo Odontos" style="max-width: 200px; max-height: 70px;" /> -->
    <img src="./assets/odontos-logo.png" class="card-img-top" alt="Logo Odontos" style="max-width: 200px; max-height: 70px;" />
  </div>
  <div class="card-body">
    <h5 class="card-title">¡GRACIAS POR COMPLETAR LA ENCUESTA ODONTOS!</h5>
    <p class="card-text">¡Bienvenido a Odontos!</p>
  </div>
  <div class="card-footer text-danger">
    Odontos - 2024 ©
  </div>
</div>
