<div class="container text-center" style="margin-top: 10px">
  <div class="card text-center">
    <div class="">
      <!-- <img src="../../../assets/odontos-logo.png" class="card-img-top" alt="Logo Odontos" style="max-width: 200px; max-height: 70px;" /> -->
      <img
        src="./assets/odontos-logo.png"
        class="card-img-top"
        alt="Logo Odontos"
        style="max-width: 200px; max-height: 70px"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">¡BIENVENIDO A ODONTOS!</h5>
      <p class="card-text">
        Le damos la bienvenida a Odontos, para seguir dando el mejor servicio
        nos gustaría pueda responder la siguiente encuesta de satisfacción.
      </p>
    </div>
    <div class="card-footer text-danger">
      * Indica que la pregunta es obligatoria
    </div>
  </div>

  <!-- Pregunta 1 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Como calificaría usted la atención recibida por parte de la
      recepcionista? <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk1"
              id=""
              value="Excelente"
              [(ngModel)]="preg1"
            />
            <label class="form-check-label" for=""> Excelente </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk2"
              id=""
              value="Muy bueno"
              [(ngModel)]="preg1"
            />
            <label class="form-check-label" for=""> Muy bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk3"
              id=""
              value="Bueno"
              [(ngModel)]="preg1"
            />
            <label class="form-check-label" for=""> Bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk4"
              id=""
              value="Regular"
              [(ngModel)]="preg1"
            />
            <label class="form-check-label" for=""> Regular </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk5"
              id=""
              value="Malo"
              [(ngModel)]="preg1"
            />
            <label class="form-check-label" for=""> Malo </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 2 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Y la del Odontólogo cómo calificaría la atención?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk7"
              id=""
              value="Excelente"
              [(ngModel)]="preg2"
            />
            <label class="form-check-label" for=""> Excelente </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk8"
              id=""
              value="Muy bueno"
              [(ngModel)]="preg2"
            />
            <label class="form-check-label" for=""> Muy bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk9"
              id=""
              value="Bueno"
              [(ngModel)]="preg2"
            />
            <label class="form-check-label" for=""> Bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk10"
              id=""
              value="Regular"
              [(ngModel)]="preg2"
            />
            <label class="form-check-label" for=""> Regular </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk11"
              id=""
              value="Malo"
              [(ngModel)]="preg2"
            />
            <label class="form-check-label" for=""> Malo </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 3 -->
  <div class="card pregunta">
    <div class="card-header">
      Las instalaciones de la sucursal que usted visito. ¿Como la Calificaría?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk13"
              id=""
              value="Excelente"
              [(ngModel)]="preg3"
            />
            <label class="form-check-label" for=""> Excelente </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk14"
              id=""
              value="Muy bueno"
              [(ngModel)]="preg3"
            />
            <label class="form-check-label" for=""> Muy bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk15"
              id=""
              value="Bueno"
              [(ngModel)]="preg3"
            />
            <label class="form-check-label" for=""> Bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk16"
              id=""
              value="Regular"
              [(ngModel)]="preg3"
            />
            <label class="form-check-label" for=""> Regular </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk17"
              id=""
              value="Malo"
              [(ngModel)]="preg3"
            />
            <label class="form-check-label" for=""> Malo </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 4 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿A usted lo han llamado o le han enviado mensajes para recordarle su turno
      el día anterior a su consulta? <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk19"
              id=""
              value="SI"
              [(ngModel)]="preg4"
            />
            <label class="form-check-label" for=""> Sí </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk20"
              id=""
              value="NO"
              [(ngModel)]="preg4"
            />
            <label class="form-check-label" for=""> No </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 5 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿A la hora de realizar algún tipo de pago en Odontos, usted recibe su
      factura legal correspondiente? <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk22"
              id=""
              value="SI"
              [(ngModel)]="preg5"
            />
            <label class="form-check-label" for=""> Sí </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk23"
              id=""
              value="NO"
              [(ngModel)]="preg5"
            />
            <label class="form-check-label" for=""> No </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 6 -->
  <div class="card pregunta">
    <div class="card-header">
      El tratamiento que se está realizando, o que se realizó. ¿Como lo
      calificaría? <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk25"
              id=""
              value="Excelente"
              [(ngModel)]="preg6"
            />
            <label class="form-check-label" for=""> Excelente </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk26"
              id=""
              value="Muy bueno"
              [(ngModel)]="preg6"
            />
            <label class="form-check-label" for=""> Muy bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk27"
              id=""
              value="Bueno"
              [(ngModel)]="preg6"
            />
            <label class="form-check-label" for=""> Bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk28"
              id=""
              value="Regular"
              [(ngModel)]="preg6"
            />
            <label class="form-check-label" for=""> Regular </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk29"
              id=""
              value="Malo"
              [(ngModel)]="preg6"
            />
            <label class="form-check-label" for=""> Malo </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 7 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Le informaron que por ser socio de Odontos , tiene como Beneficio en la empresa FUTURO cobertura exequial
      100% Línea Clásica?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk31"
              id=""
              value="Excelente"
              [(ngModel)]="preg7"
            />
            <label class="form-check-label" for=""> Excelente </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk31"
              id=""
              value="Muy bueno"
              [(ngModel)]="preg7"
            />
            <label class="form-check-label" for=""> Muy bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk33"
              id=""
              value="Bueno"
              [(ngModel)]="preg7"
            />
            <label class="form-check-label" for=""> Bueno </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk34"
              id=""
              value="Regular"
              [(ngModel)]="preg7"
            />
            <label class="form-check-label" for=""> Regular </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk35"
              id=""
              value="Malo"
              [(ngModel)]="preg7"
            />
            <label class="form-check-label" for=""> Malo </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 8 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Le informaron que el 0214129000 es el WhatsApp oficial de Odontos y puede
      solicitar turno y realizar consultas varias a través de este?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk37"
              id=""
              value="SI"
              [(ngModel)]="preg8"
            />
            <label class="form-check-label" for=""> Sí </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk38"
              id=""
              value="NO"
              [(ngModel)]="preg8"
            />
            <label class="form-check-label" for=""> No </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 9 -->
  <div class="card pregunta">

    <!-- Condicion SUGERENCIA SI/NO -->
    <div class="card-header" *ngIf="!hasSugeren">
      ¿Tiene alguna sugerencia para darnos acerca del servicio general?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body" *ngIf="!hasSugeren">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="suge_si"
              id="suge_si"
              value="true"
              [(ngModel)]="hasSugeren"
            />
            <label class="form-check-label" for="suge_si">
              SI
            </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="suge_no"
              id="suge_no"
              value="false"
            />
            <label class="form-check-label" for="suge_no">
              NO
            </label>
          </div>
        </div>
      </blockquote>
    </div>

    <!-- Campo Sugerencia -->
    <div class="card-header" *ngIf="hasSugeren">
      ¿Cual es su sugerencia?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body" *ngIf="hasSugeren">
      <blockquote class="blockquote mb-0">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="sugerencia"
            placeholder=""
          />
          <label for="floatingInput">Escriba su sugerencia</label>
        </div>
      </blockquote>
    </div>

  </div>

  <!-- Pregunta 10 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Le explicarion que los tratamientos que no son de cobertura del 100%,
      el pago puede ser financiado?<span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk43"
              id=""
              value="SI"
              [(ngModel)]="preg10"
            />
            <label class="form-check-label" for=""> Sí </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk44"
              id=""
              value="NO"
              [(ngModel)]="preg10"
            />
            <label class="form-check-label" for=""> No </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- Pregunta 11 -->
  <div class="card pregunta">
    <div class="card-header">
      ¿Desea que nos contactemos nuevamente con usted para agendar un turno?
      <span class="text-danger">*</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="col-md-6">
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk46"
              id=""
              value="SI"
              [(ngModel)]="preg11"
            />
            <label class="form-check-label" for=""> Sí </label>
          </div>
          <div class="form-check form-check-reverse">
            <input
              class="form-check-input"
              type="radio"
              name="chk47"
              id=""
              value="NO"
              [(ngModel)]="preg11"
            />
            <label class="form-check-label" for=""> No </label>
          </div>

        </div>
      </blockquote>
    </div>
  </div>

  <!-- BOTONES -->

  <div class="row pregunta">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" (click)="enviarDatos()">
        Vaciar Formulario
      </button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" (click)="submit()">
        Enviar
      </button>
    </div>
  </div>
</div>
