<!--Filtros de la busqueda-->
<div class="row" style="margin: 8px">
  <div class="col-md-6">
    <label class="col-form-label-sm">Clientes</label>

    <ng-select [(ngModel)]="clienteSeleccionado">
      <ng-option *ngFor="let item of clientes" [value]="item.nro_documento"
        >{{ item.nombre }} - {{ item.nro_documento }}</ng-option
      >
    </ng-select>
  </div>
  <div class="col-md-2">
    <label class="col-form-label-sm">Fecha desde</label>
    <input
      id="fecha_desde"
      type="date"
      class="form-control"
      [(ngModel)]="fecha_desde"
    />
  </div>
  <div class="col-md-2">
    <label class="col-form-label-sm">Fecha hasta</label>
    <input id="fecha_hasta" type="date" class="form-control" />
  </div>

  <div class="col-md-2" style="padding-top: 30px">
    <button type="button" class="btn btn-outline-success" (click)="buscar()">
      Buscar
    </button>
  </div>
</div>

<!--Resultado de la busqueda-->
<table class="table table-sm table-hover">
  <thead class="thead">
    <tr>
      <!-- Datos de la encuesta -->
      <th class="text-right" scope="col">CI</th>
      <th class="text-right" scope="col">Email*</th>
      <th class="text-right" scope="col" title="¿Qué plan eligió?">Item 4</th>
      <th
        class="text-right"
        scope="col"
        title="¿Le explicaron la cobertura de su plan que incluye?*"
      >
        Item 5
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Le explicaron que en algunos casos Odontos pagara la totalidad..."
      >
        Item 6
      </th>
      <th
        class="text-right"
        scope="col"
        title=" ¿Le explicaron que los tratamientos que no son de cobertura del 100%..."
      >
        Item 7
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Le entrego el vendedor una copia del contrato?"
      >
        Item 8
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Su cuota mensual a pagar será de monto guaraníes?"
      >
        Item 9
      </th>
      <th class="text-right" scope="col" title="¿Abono la primera cuota?">
        Item 10
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Abono la cuota de inscripción?"
      >
        Item 11
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿En que sucursal va a asistir a su cita odontológica?"
      >
        Item 12
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Cuál es su domicilio y nro. de casa particular?"
      >
        Item 13
      </th>
      <th class="text-right" scope="col" title="¿Cuál es su barrio?">
        Item 14
      </th>
      <th class="text-right" scope="col" title="¿Cuál es su ciudad?">
        Item 15
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿En caso de no poder contactarlo..."
      >
        Item 16
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Le explicaron que en su contrato..."
      >
        Item 17
      </th>
      <th class="text-right" scope="col" title="¿Desea agendar turno con...">
        Item 18
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Como se enteró de nuestros servicios?"
      >
        Item 19
      </th>
      <th
        class="text-right"
        scope="col"
        title="¿Con que calificación puntuaría el servicio?"
      >
        Item 20
      </th>
      <!-- <th class="text-right" scope="col"></th> -->
    </tr>
  </thead>
  <tbody id="table-body" *ngIf="!loading">
    <tr *ngFor="let item of encuestasObtenidas">
      <!-- Datos de la encuesta -->
      <td class="text-right">
        {{ item.pregunta1 }}
      </td>
      <td class="text-right">
        {{ item.pregunta3 }}
      </td>
      <td class="text-right">
        {{ item.pregunta4 }}
      </td>
      <td class="text-right">
        {{ item.pregunta5 }}
      </td>
      <td class="text-right">
        {{ item.pregunta6 }}
      </td>
      <td class="text-right">
        {{ item.pregunta7 }}
      </td>
      <td class="text-right">
        {{ item.pregunta8 }}
      </td>
      <td class="text-right">
        {{ item.pregunta9 }}
      </td>
      <td class="text-right">
        {{ item.pregunta10 }}
      </td>
      <td class="text-right">
        {{ item.pregunta11 }}
      </td>
      <td class="text-right">
        {{ item.pregunta12 }}
      </td>
      <td class="text-right">
        {{ item.pregunta13 }}
      </td>
      <td class="text-right">
        {{ item.pregunta14 }}
      </td>
      <td class="text-right">
        {{ item.pregunta15 }}
      </td>
      <td class="text-right">
        {{ item.pregunta16 }}
      </td>
      <td class="text-right">
        {{ item.pregunta17 }}
      </td>
      <td class="text-right">
        {{ item.pregunta18 }}
      </td>
      <td class="text-right">
        {{ item.pregunta19 }}
      </td>
      <td class="text-right">
        {{ item.pregunta20 }}
      </td>

      <!-- <td>
        <button type="button" class="btn btn-outline-success">Ver Encuesta</button>
      </td> -->
    </tr>

    <!-- <button class="float">
      <fa-icon style="color: #28b463" [icon]="faFileExcel"></fa-icon>
    </button> -->
  </tbody>
</table>

<!-- Spinner -->
<div class="col-md-12" id="spinner-historicos" *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</div>
